In [2]:
import pandas as pd
import matplotlib as mpl
import os

In [3]:
file_paths={
16 : 'D:/Desktop/Data/Shipments and Orders 2016.csv',
17 : 'D:/Desktop/Data/Shipments and Orders 2017.csv',
18 : 'D:/Desktop/Data/Shipments and Orders 2018.csv',
19 : 'D:/Desktop/Data/Shipments and Orders 2019.csv',
20 : 'D:/Desktop/Data/Shipments and Orders 2020.csv',
21 : 'D:/Desktop/Data/Shipments and Orders 2021.csv',
22 : 'D:/Desktop/Data/Shipments and Orders 2022.csv',
23 : 'D:/Desktop/Data/Shipments and Orders 2023.csv',
# 24 : 'D:/Desktop/Data/Shipments and Orders 2024 may.csv',
}

In [4]:
years = range(16,23)
dataframes = {}

for year,path in file_paths.items():
    try:
        dataframes[year] = pd.read_csv(path)
    except FileNotFoundError:
        print(f"file not found : {path}")

C:\Users\CM-Ajk\AppData\Local\Temp\ipykernel_12492\1043919190.py:6: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[year] = pd.read_csv(path)

In [5]:
for item in dataframes.items():
    print(item)

(16,         Year Month Name         Week Week Start Date  4 Week Ago Forecast  \
0       2016    January  2016 Week01      2016-01-01                  NaN
1       2016    January  2016 Week01      2016-01-01                  NaN
2       2016    January  2016 Week01      2016-01-01                  NaN
3       2016    January  2016 Week01      2016-01-01                  NaN
4       2016    January  2016 Week01      2016-01-01                  NaN
...      ...        ...          ...             ...                  ...
456052  2016   December  2016 Week53      2016-12-25                  NaN
456053  2016   December  2016 Week53      2016-12-25                  NaN
456054  2016   December  2016 Week53      2016-12-25                  NaN
456055  2016   December  2016 Week53      2016-12-25                  NaN
456056  2016   December  2016 Week53      2016-12-25                  NaN

       Plant Location Name Sales Channel Code                   Customer Name  \
0         PLANT MONTGOMERY         HOME DEPOT               THD.COM DROP SHIP
1         PLANT MONTGOMERY         HOME DEPOT               THD.COM DROP SHIP
2         PLANT MONTGOMERY         HOME DEPOT               THD.COM DROP SHIP
3         PLANT MONTGOMERY         HOME DEPOT               THD.COM DROP SHIP
4         PLANT MONTGOMERY         HOME DEPOT               THD.COM DROP SHIP
...                    ...                ...                             ...
456052      WHSE SOUTHEAST          WHOLESALE       WINWHOLESALE INCORPORATED
456053      WHSE SOUTHEAST          WHOLESALE       WINWHOLESALE INCORPORATED
456054      WHSE SOUTHEAST          WHOLESALE       WINWHOLESALE INCORPORATED
456055      WHSE SOUTHEAST          WHOLESALE       WINWHOLESALE INCORPORATED
456056      WHSE SOUTHEAST          WHOLESALE  WOOL WHOLESALE PLUMBING SUPPLY

       Ship To Location State Ship To Location City  ...  Product Group  \
0                          GA                 Evans  ...  WATER HEATING
1                          IL           Orland Park  ...  WATER HEATING
2                          IN                Jasper  ...  WATER HEATING
3                          MA            Leominster  ...  WATER HEATING
4                          PA           COATESVILLE  ...  WATER HEATING
...                       ...                   ...  ...            ...
456052                     MO             Grandview  ...  WATER HEATING
456053                     MO          POPLAR BLUFF  ...  WATER HEATING
456054                     VA              RICHMOND  ...  WATER HEATING
456055                     VA              RICHMOND  ...  WATER HEATING
456056                     FL             Palm City  ...  WATER HEATING

       Product Market    Product Class     Family Group  \
0         RESIDENTIAL         ELECTRIC         MARATHON
1         RESIDENTIAL              GAS      ATMOSPHERIC
2          COMMERCIAL         ELECTRIC    MARATHON SPEC
3         RESIDENTIAL         ELECTRIC         MARATHON
4         RESIDENTIAL         ELECTRIC         MARATHON
...               ...              ...              ...
456052     COMMERCIAL  STORAGE PRODUCT  STORAGE PRODUCT
456053     COMMERCIAL              GAS       HEAVY DUTY
456054     COMMERCIAL         ELECTRIC          SURFACE
456055     COMMERCIAL              GAS       LIGHT DUTY
456056     COMMERCIAL         ELECTRIC       LIGHT DUTY

       Family Type/Base Model    Fuel Type Product Number Ordered Quantity  \
0                      MR40-3     ELECTRIC         664453              1.0
1                    44V100-3        LONOX         636351              1.0
2                     MHD85-3     ELECTRIC         664606              1.0
3                        MR50     ELECTRIC         635880              1.0
4                       MSR50     ELECTRIC         473369              1.0
...                       ...          ...            ...              ...
456052                  ST120     ELECTRIC         472607              1.0
456053                 G100MF  NATURAL GAS         397269              1.0
456054                  ES120     ELECTRIC         400655              NaN
456055                G75LD-3  NATURAL GAS         570419              NaN
456056               ELD120-C     ELECTRIC         639642              1.0

       Gross Sales Qty         Sales Org Name
0                    0  WATER HEATER DIVISION
1                    0  WATER HEATER DIVISION
2                    0  WATER HEATER DIVISION
3                    0  WATER HEATER DIVISION
4                    0  WATER HEATER DIVISION
...                ...                    ...
456052               0  WATER HEATER DIVISION
456053               1  WATER HEATER DIVISION
456054               5  WATER HEATER DIVISION
456055               1  WATER HEATER DIVISION
456056               1  WATER HEATER DIVISION

[456057 rows x 24 columns])
(17,         Year Month Name         Week Week Start Date  4 Week Ago Forecast  \
0       2017    January  2017 Week01      2017-01-01                  NaN
1       2017    January  2017 Week01      2017-01-01                  NaN
2       2017    January  2017 Week01      2017-01-01                  NaN
3       2017    January  2017 Week01      2017-01-01                  NaN
4       2017    January  2017 Week01      2017-01-01                  NaN
...      ...        ...          ...             ...                  ...
448559  2017   December  2017 Week53      2017-12-31                  NaN
448560  2017   December  2017 Week53      2017-12-31                  NaN
448561  2017   December  2017 Week53      2017-12-31                  NaN
448562  2017   December  2017 Week53      2017-12-31                  NaN
448563  2017   December  2017 Week53      2017-12-31                  NaN

            Plant Location Name    Sales Channel Code  \
0                     CARGOQUIN  MANUFACTURED HOUSING
1                     CARGOQUIN  MANUFACTURED HOUSING
2                     CARGOQUIN  MANUFACTURED HOUSING
3                     CARGOQUIN  MANUFACTURED HOUSING
4                     CARGOQUIN  MANUFACTURED HOUSING
...                         ...                   ...
448559  PLANT WH NUEVO LAREDO 1                RETAIL
448560  PLANT WH NUEVO LAREDO 1                RETAIL
448561              Unspecified            HOME DEPOT
448562              WHSE LAREDO            HOME DEPOT
448563           WHSE SOUTHEAST            HOME DEPOT

                        Customer Name Ship To Location State  \
0       CAVCO INDUSTRIES INCORPORATED                     VA
1       CAVCO INDUSTRIES INCORPORATED                     VA
2       CAVCO INDUSTRIES INCORPORATED                     VA
3       CAVCO INDUSTRIES INCORPORATED                     VA
4                  THE COMMODORE CORP                     NC
...                               ...                    ...
448559                        MENARDS                     WI
448560                        MENARDS                     WI
448561                 THE HOME DEPOT                     GA
448562                 THE HOME DEPOT                     CA
448563              THD.COM DROP SHIP                     AZ

       Ship To Location City  ...     Product Group Product Market  \
0               MARTINSVILLE  ...     WATER HEATING    RESIDENTIAL
1                ROCKY MOUNT  ...  PARTS & SERVICES   WATER HEATER
2                ROCKY MOUNT  ...     WATER HEATING    RESIDENTIAL
3                ROCKY MOUNT  ...     WATER HEATING    RESIDENTIAL
4                     Crouse  ...     WATER HEATING    RESIDENTIAL
...                      ...  ...               ...            ...
448559            EAU CLAIRE  ...     WATER HEATING    RESIDENTIAL
448560            IRON RIDGE  ...     WATER HEATING    RESIDENTIAL
448561               ATLANTA  ...     WATER HEATING    RESIDENTIAL
448562          APPLE VALLEY  ...     WATER HEATING   TANKLESS GAS
448563      Lake Havasu City  ...     WATER HEATING     COMMERCIAL

       Product Class  Family Group Family Type/Base Model       Fuel Type  \
0           ELECTRIC             V                  84V52        ELECTRIC
1       WATER HEATER    DRAIN PANS              UNDEFINED             NaN
2           ELECTRIC   MFG HOUSING                  74V30        ELECTRIC
3           ELECTRIC   MFG HOUSING                  74V40        ELECTRIC
4           ELECTRIC             V                  84V40        ELECTRIC
...              ...           ...                    ...             ...
448559           GAS   DIRECT VENT                24DV40F  LIQUID PROPANE
448560           GAS   MFG HOUSING                24V30FT     NATURAL GAS
448561      ELECTRIC             V                84V40EL        ELECTRIC
448562  TANKLESS GAS  TANKLESS GAS            RTGH-199DVL     ULTRA LONOX
448563      ELECTRIC           POU                 EGSP20        ELECTRIC

       Product Number Ordered Quantity Gross Sales Qty         Sales Org Name
0              653235              8.0               8  WATER HEATER DIVISION
1             SP12941              1.0               1  WATER HEATER DIVISION
2              659060              1.0               1  WATER HEATER DIVISION
3              659145              1.0               1  WATER HEATER DIVISION
4              650265              1.0               1  WATER HEATER DIVISION
...               ...              ...             ...                    ...
448559         641836              1.0               0  WATER HEATER DIVISION
448560         640754              1.0               0  WATER HEATER DIVISION
448561         644486              NaN              -1  WATER HEATER DIVISION
448562         672533              1.0               0  WATER HEATER DIVISION
448563         494401              1.0               0  WATER HEATER DIVISION

[448564 rows x 24 columns])
(18,         Year Month Name         Week Week Start Date  4 Week Ago Forecast  \
0       2018    January  2018 Week01      2018-01-01                  NaN
1       2018    January  2018 Week01      2018-01-01                  NaN
2       2018    January  2018 Week01      2018-01-01                  NaN
3       2018    January  2018 Week01      2018-01-01                  NaN
4       2018    January  2018 Week01      2018-01-01                  NaN
...      ...        ...          ...             ...                  ...
448467  2018   December  2018 Week53      2018-12-30                  NaN
448468  2018   December  2018 Week53      2018-12-30                  NaN
448469  2018   December  2018 Week53      2018-12-30                  NaN
448470  2018   December  2018 Week53      2018-12-30                  NaN
448471  2018   December  2018 Week53      2018-12-30                  NaN

       Plant Location Name Sales Channel Code                   Customer Name  \
0         PLANT MONTGOMERY             CANADA  RHEEM CANADA WHSE BRAMPTON 550
1         PLANT MONTGOMERY             CANADA  RHEEM CANADA WHSE BRAMPTON 550
2         PLANT MONTGOMERY             CANADA  RHEEM CANADA WHSE BRAMPTON 550
3         PLANT MONTGOMERY             ENERGY          KY ASSOC OF ELEC COOPS
4         PLANT MONTGOMERY             ENERGY          KY ASSOC OF ELEC COOPS
...                    ...                ...                             ...
448467         WHSE LAREDO          WHOLESALE                        GRAINGER
448468      WHSE SOUTHEAST          WHOLESALE       PLUMBING DISTRIBUTORS INC
448469      WHSE SOUTHEAST          WHOLESALE       PLUMBING DISTRIBUTORS INC
448470      WHSE SOUTHEAST          WHOLESALE       PLUMBING DISTRIBUTORS INC
448471      WHSE SOUTHEAST          WHOLESALE        SOUTHERN PIPE AND SUPPLY

       Ship To Location State Ship To Location City  ...  Product Group  \
0                         NaN              BRAMPTON  ...  WATER HEATING
1                         NaN                   NaN  ...  WATER HEATING
2                         NaN                   NaN  ...  WATER HEATING
3                          IL               Decatur  ...  WATER HEATING
4                          KY            Louisville  ...  WATER HEATING
...                       ...                   ...  ...            ...
448467                     SC          FOUNTAIN INN  ...  WATER HEATING
448468                     GA         LAWRENCEVILLE  ...  WATER HEATING
448469                     GA         LAWRENCEVILLE  ...  WATER HEATING
448470                     GA         LAWRENCEVILLE  ...  WATER HEATING
448471                     GA               LILBURN  ...  WATER HEATING

           Product Market      Product Class    Family Group  \
0              COMMERCIAL             HE GAS   HE SPIDERFIRE
1              COMMERCIAL           ELECTRIC       IMMERSION
2             RESIDENTIAL           ELECTRIC        MARATHON
3             RESIDENTIAL           ELECTRIC        MARATHON
4              COMMERCIAL           ELECTRIC   MARATHON SPEC
...                   ...                ...             ...
448467  TANKLESS ELECTRIC  TANKLESS ELECTRIC  EE RESIDENTIAL
448468         COMMERCIAL           ELECTRIC             POU
448469         COMMERCIAL           ELECTRIC             POU
448470         COMMERCIAL                GAS      HEAVY DUTY
448471         COMMERCIAL                GAS      LIGHT DUTY

       Family Type/Base Model       Fuel Type Product Number Ordered Quantity  \
0                      GHE100  LIQUID PROPANE         629001              2.0
1                         E50        ELECTRIC         402109              NaN
2                        MR75        ELECTRIC         473536              NaN
3                        MR30        ELECTRIC         595771              1.0
4                    MHD105-3        ELECTRIC         664675              8.0
...                       ...             ...            ...              ...
448467                RTEX-04        ELECTRIC         682990              5.0
448468                 EGSP10        ELECTRIC         249971              1.0
448469                 EGSP20        ELECTRIC         256979              1.0
448470                 G100MF     NATURAL GAS         397269              1.0
448471                G100-80     NATURAL GAS         562094              1.0

       Gross Sales Qty         Sales Org Name
0                    0  WATER HEATER DIVISION
1                   13  WATER HEATER DIVISION
2                   63  WATER HEATER DIVISION
3                    0  WATER HEATER DIVISION
4                    0  WATER HEATER DIVISION
...                ...                    ...
448467               0  WATER HEATER DIVISION
448468               0  WATER HEATER DIVISION
448469               0  WATER HEATER DIVISION
448470               0  WATER HEATER DIVISION
448471               0  WATER HEATER DIVISION

[448472 rows x 24 columns])
(19,           SrNo  Year Month Name         Week Week Start Date  \
0            1  2019    January  2019 Week01        1/1/2019
1            2  2019    January  2019 Week01        1/1/2019
2            3  2019    January  2019 Week01        1/1/2019
3            4  2019    January  2019 Week01        1/1/2019
4            5  2019    January  2019 Week01        1/1/2019
...        ...   ...        ...          ...             ...
465342  465343  2019   December  2019 Week53      12/29/2019
465343  465344  2019   December  2019 Week53      12/29/2019
465344  465345  2019   December  2019 Week53      12/29/2019
465345  465346  2019   December  2019 Week53      12/29/2019
465346  465347  2019   December  2019 Week53      12/29/2019

        4 Week Ago Forecast Plant Location Name Sales Channel Code  \
0                       NaN    PLANT MONTGOMERY             CANADA
1                       NaN    PLANT MONTGOMERY             CANADA
2                       NaN    PLANT MONTGOMERY             CANADA
3                       NaN    PLANT MONTGOMERY             CANADA
4                       NaN    PLANT MONTGOMERY             CANADA
...                     ...                 ...                ...
465342                  NaN      WHSE SOUTHEAST          WHOLESALE
465343                  NaN      WHSE SOUTHEAST          WHOLESALE
465344                  NaN      WHSE SOUTHEAST          WHOLESALE
465345                  NaN      WHSE SOUTHEAST          WHOLESALE
465346                  NaN      WHSE SOUTHEAST          WHOLESALE

                         Customer Name Ship To Location State  ...  \
0       RHEEM CANADA WHSE BRAMPTON 550                    NaN  ...
1       RHEEM CANADA WHSE BRAMPTON 550                    NaN  ...
2       RHEEM CANADA WHSE BRAMPTON 550                    NaN  ...
3       RHEEM CANADA WHSE BRAMPTON 550                    NaN  ...
4       RHEEM CANADA WHSE BRAMPTON 550                    NaN  ...
...                                ...                    ...  ...
465342        SOUTHERN PIPE AND SUPPLY                     TN  ...
465343       WINWHOLESALE INCORPORATED                     AZ  ...
465344       WINWHOLESALE INCORPORATED                     FL  ...
465345       WINWHOLESALE INCORPORATED                     FL  ...
465346  WOOL WHOLESALE PLUMBING SUPPLY                     FL  ...

        Product Group Product Market    Product Class   Family Group  \
0       WATER HEATING     COMMERCIAL         ELECTRIC        ECLIPSE
1       WATER HEATING     COMMERCIAL         ELECTRIC      IMMERSION
2       WATER HEATING     COMMERCIAL         ELECTRIC      IMMERSION
3       WATER HEATING     COMMERCIAL         ELECTRIC        SURFACE
4       WATER HEATING     COMMERCIAL              GAS     HEAVY DUTY
...               ...            ...              ...            ...
465342  WATER HEATING     COMMERCIAL           HE GAS  HE SPIDERFIRE
465343  WATER HEATING     COMMERCIAL  STORAGE PRODUCT  LARGE STORAGE
465344  WATER HEATING     COMMERCIAL         ELECTRIC     LIGHT DUTY
465345  WATER HEATING     COMMERCIAL         ELECTRIC        POU COM
465346  WATER HEATING     COMMERCIAL              GAS     HEAVY DUTY

        Family Type/Base Model    Fuel Type Product Number Ordered Quantity  \
0                         ME85     ELECTRIC         501307              0.0
1                         E120     ELECTRIC         402123              4.0
2                          E50     ELECTRIC         402109              1.0
3                        ES120     ELECTRIC         402154             19.0
4                     G100MF-1  NATURAL GAS         520865              2.0
...                        ...          ...            ...              ...
465342                  GHE125  ULTRA LONOX         627731              NaN
465343                  LST320     ELECTRIC         429298              NaN
465344               ELDS30-TB     ELECTRIC         684048              1.0
465345                EGSP30-C     ELECTRIC         664897              1.0
465346                    GX90  NATURAL GAS         485454              1.0

       Gross Sales Qty         Sales Org Name
0                    0  WATER HEATER DIVISION
1                    0  WATER HEATER DIVISION
2                    0  WATER HEATER DIVISION
3                    0  WATER HEATER DIVISION
4                    0  WATER HEATER DIVISION
...                ...                    ...
465342               1  WATER HEATER DIVISION
465343               1  WATER HEATER DIVISION
465344               1  WATER HEATER DIVISION
465345               0  WATER HEATER DIVISION
465346               1  WATER HEATER DIVISION

[465347 rows x 25 columns])
(20,         Year Month Name         Week Week Start Date  4 Week Ago Forecast  \
0       2020    January  2020 Week01      2020-01-01                  NaN
1       2020    January  2020 Week01      2020-01-01                  NaN
2       2020    January  2020 Week01      2020-01-01                  NaN
3       2020    January  2020 Week01      2020-01-01                  NaN
4       2020    January  2020 Week01      2020-01-01                  NaN
...      ...        ...          ...             ...                  ...

In [6]:
from pathlib import Path
new_file_path = Path('D:/Desktop/Data/concatCSV.csv')

if not new_file_path.exists() : 
    new_file_path.touch()

combined_df = pd.concat(dataframes.values(), ignore_index=True)
combined_df.to_csv(new_file_path)

In [7]:
combined_df.columns

Index(['Year', 'Month Name', 'Week', 'Week Start Date', '4 Week Ago Forecast',
       'Plant Location Name', 'Sales Channel Code', 'Customer Name',
       'Ship To Location State', 'Ship To Location City', 'Report Group ID',
       'Ship To Location Country', 'Store Number', 'Site Number',
       'Product Group', 'Product Market', 'Product Class', 'Family Group',
       'Family Type/Base Model', 'Fuel Type', 'Product Number',
       'Ordered Quantity', 'Gross Sales Qty', 'Sales Org Name', 'SrNo',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [8]:
filtered_df = combined_df[['Product Number','Year','Week','Month Name','Week Start Date','Plant Location Name','Ship To Location Country','Ship To Location State','Ship To Location City','Ordered Quantity','Family Group','Product Class','Product Market','Product Group']]

In [9]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3690316 entries, 0 to 3690315
Data columns (total 14 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Product Number            object
 1   Year                      int64
 2   Week                      object
 3   Month Name                object
 4   Week Start Date           object
 5   Plant Location Name       object
 6   Ship To Location Country  object
 7   Ship To Location State    object
 8   Ship To Location City     object
 9   Ordered Quantity          float64
 10  Family Group              object
 11  Product Class             object
 12  Product Market            object
 13  Product Group             object
dtypes: float64(1), int64(1), object(12)
memory usage: 394.2+ MB

In [10]:
filtered_df.head()

,Product Number,Year,Week,Month Name,Week Start Date,Plant Location Name,Ship To Location Country,Ship To Location State,Ship To Location City,Ordered Quantity,Family Group,Product Class,Product Market,Product Group
0,664453,2016,2016 Week01,January,2016-01-01,PLANT MONTGOMERY,US,GA,Evans,1.0,MARATHON,ELECTRIC,RESIDENTIAL,WATER HEATING
1,636351,2016,2016 Week01,January,2016-01-01,PLANT MONTGOMERY,US,IL,Orland Park,1.0,ATMOSPHERIC,GAS,RESIDENTIAL,WATER HEATING
2,664606,2016,2016 Week01,January,2016-01-01,PLANT MONTGOMERY,US,IN,Jasper,1.0,MARATHON SPEC,ELECTRIC,COMMERCIAL,WATER HEATING
3,635880,2016,2016 Week01,January,2016-01-01,PLANT MONTGOMERY,US,MA,Leominster,1.0,MARATHON,ELECTRIC,RESIDENTIAL,WATER HEATING
4,473369,2016,2016 Week01,January,2016-01-01,PLANT MONTGOMERY,US,PA,COATESVILLE,1.0,MARATHON,ELECTRIC,RESIDENTIAL,WATER HEATING

In [11]:
missing = filtered_df['Product Number'].isnull().value_counts()
print(missing)

Product Number
False    3673792
True       16524
Name: count, dtype: int64

# *PROCESS THE DATA*

In [12]:
# null_productNo = pd.DataFrame()
# for index,row in filtered_df.iterrows():
#     if pd.isnull(row['Product Number']):
#         null_productNo=  pd.concat([null_productNo,pd.DataFrame([row])], ignore_index=True)
null_productNo = filtered_df[filtered_df['Product Number'].isnull()]
null_productNo.head(10)

,Product Number,Year,Week,Month Name,Week Start Date,Plant Location Name,Ship To Location Country,Ship To Location State,Ship To Location City,Ordered Quantity,Family Group,Product Class,Product Market,Product Group
8720,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,CA,NaN,SUDBURY,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8721,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,US,CO,BRIGHTON,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8722,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,US,NY,Albany,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8723,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,US,GA,ATLANTA,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8730,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,NaN,NaN,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8731,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,NaN,NaN,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8732,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,NaN,NaN,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8737,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,NaN,NaN,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8748,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,NaN,NaN,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified
8749,NaN,2016,2016 Week02,January,2016-01-03,Unspecified,NaN,NaN,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified

# Dropping the Rows which had no **Product Number** and other neccessary information.

In [13]:
# filtered_df = pd.DataFrame(filtered_df)
filtered_df = filtered_df.dropna(subset=['Product Number'])
missing = filtered_df['Product Number'].isnull().value_counts()
print(missing)

Product Number
False    3673792
Name: count, dtype: int64

In [14]:
filtered_df.count()

Product Number              3673792
Year                        3673792
Week                        3673792
Month Name                  3673792
Week Start Date             3673792
Plant Location Name         3673792
Ship To Location Country    3615346
Ship To Location State      3591116
Ship To Location City       3615339
Ordered Quantity            2374994
Family Group                3673583
Product Class               3673792
Product Market              3673792
Product Group               3673792
dtype: int64

In [15]:
missing = filtered_df['Week'].isnull().value_counts()
print(missing)

Week
False    3673792
Name: count, dtype: int64

In [16]:
null_week = filtered_df[filtered_df['Week'].isnull()]
null_week.head(100)

Empty DataFrame
Columns: [Product Number, Year, Week, Month Name, Week Start Date, Plant Location Name, Ship To Location Country, Ship To Location State, Ship To Location City, Ordered Quantity, Family Group, Product Class, Product Market, Product Group]
Index: []

In [21]:
data_2023 = filtered_df[filtered_df['Year'] == 2023]

In [23]:
print(data_2023['Week'].isnull().sum())

0

In [30]:
data_2016_2022 = filtered_df[(filtered_df['Year']>=2016) & (filtered_df['Year'] <=2022)]
data_2016_2022.tail()

,Product Number,Year,Week,Month Name,Week Start Date,Plant Location Name,Ship To Location Country,Ship To Location State,Ship To Location City,Ordered Quantity,Family Group,Product Class,Product Market,Product Group
3232559,683324,2022,2022 Week53,December,2022-12-25,WHSE SOUTHEAST,US,MO,Grandview,1.0,LIGHT DUTY,ELECTRIC,COMMERCIAL,WATER HEATING
3232560,683430,2022,2022 Week53,December,2022-12-25,WHSE SOUTHEAST,US,NC,RALEIGH,1.0,LIGHT DUTY,ELECTRIC,COMMERCIAL,WATER HEATING
3232561,700236,2022,2022 Week53,December,2022-12-25,WHSE SOUTHEAST,US,NC,WINSTON SALEM,2.0,LIGHT DUTY,ELECTRIC,COMMERCIAL,WATER HEATING
3232562,700455,2022,2022 Week53,December,2022-12-25,WHSE SPICE ISLAND,US,CA,CALEXICO,79.0,HEATPUMP,HEATPUMP,RESIDENTIAL,WATER HEATING
3232563,700467,2022,2022 Week53,December,2022-12-25,WHSE SPICE ISLAND,US,CA,CALEXICO,51.0,HEATPUMP,HEATPUMP,RESIDENTIAL,WATER HEATING

In [36]:
check= data_2016_2022['Ship To Location State'].isnull().sum().sum()
check

np.int64(71709)